body {
    font-family: "Helvetica Neue","Hiragino Sans GB",STHeiti,"Microsoft Yahei",\5FAE\8F6F\96C5\9ED1,"WenQuanYi Micro Hei",Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased !important;

    /**
     * 1. Making the <body> element behave like a flexbox container.
     * 2. Making flex children line up vertically (horizontal is default)
     * 3. Setting the min-height to 100% of the viewport height.
     * 4. Trigger correct calculation of heights on IE11.
     */
    /* [1] */
    /* Ye Olde Flexbox for Webkit */
    display: -webkit-box;
    /* Tweener flexbox for IE10 */
    display: -ms-flexbox;
    /* Prefixed "new flexbox" */
    display: -webkit-flex;
    /* unprefixed standard "new flexbox" version for the rest */
    display: flex;

    /* [2] */
    /* Your grandparents flexbox for old Webkit */
    -webkit-box-orient: vertical;
    /* Prefixed new syntax: */
    -webkit-flex-direction: column;
    /* (Same syntax for weird IE tweener) */
    -ms-flex-direction: column;
    /* unprefixed new syntax */
    flex-direction: column;

    /* [3] */
    min-height: 100vh;
}

main {
    display: block;
}

kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f7f7f9;
    background-image: linear-gradient(#f1f1f1, #ddd);
    background-repeat: repeat-x;
    border-color: #ddd #ccc #ccc #ddd;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    line-height: 10px;
    padding: 1px 4px;
}

.vessel {
    -webkit-box-flex: 1 0 auto;
    /* IE10, ugh */
    -ms-flex: 1 0 auto;
    /* Unprefixed */
    flex: 1 0 auto;
    /* prefixed webkit syntax */
    -webkit-flex: 1 0 auto;

    min-width: 980px;
    /* min-height: 375px; */
}

.header {
    padding-bottom: 30px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inner {
    min-width: 940px;
    background-image: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    filter: none;
}

.navbar .brand {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .nav > li {
    border-top: 4px solid transparent;
    line-height: 56px;
    font-size: 16px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}

.navbar .nav > li.active {
    border-top-color: green;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav.nav-tool-bar > li > a {
    /* padding-left: 12px; */
    /* padding-right: 12px; */
}

.navbar .nav.nav-tool-bar > li > a > i {
    vertical-align: baseline;
}

.topfix {
    padding-top: 81px;
}

.modal button.close {
    margin-right: 6px;
}
.modal.fade.in {
    top: 20%;
}

.block {
    display: block;
    margin: 20px 0;
}

.board {
    /* background-color: #FFFFFF; */
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    /* margin-bottom: 16px; */
    padding: 19px 19px 14px;
    position: relative;
}
.board[data-title] {
    padding-top: 39px;
}
.board[data-title]:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0;
    color: #9DA0A4;
    content: attr(data-title);
    font-size: 12px;
    font-weight: 600;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.coded {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.named {
    border-bottom: 1px solid #DDDDDD;
    padding: 0;
    position: relative;
    margin-top: 50px;
}
.named>.named-title {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    padding: 3px 7px;
    position: absolute;
    bottom: 0;
}

.lines {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

a.actor, .actor-block a {
    display: inline-block;
}

a.award {
    border: 1px solid #eee !important;
    color: #ca6445;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    padding: 5px 11px !important;
}

.footer {
    /* background-color: #f5f5f5; */
    background-color: #eee;
    margin-top: 50px;
    min-width: 980px;
    text-align: right;
    padding-top: 40px;
    padding-bottom: 40px;
    /* border-top: 1px solid #e5e5e5; */
    border-top: 1px solid #dddddd;
}
.footer a {
    outline: none !important;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline-block;
    padding-left: 4px;
}
.footer-links li:first-child {
    padding-left: 0;
}
.footer .qrcode {
    width: 120px;
    height: 120px;
    margin: -10px 0 10px 10px;
}

.texted {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}

img.avatar {
    border: 2px solid rgba(170,170,170,.9);
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

.card-wrap {
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.card-main {
    background: #fff;
    border: 1px solid #ccc;
    margin: 10px auto;
    max-width: 240px;
    min-width: 190px;
    padding: 20px 30px 40px;
    position: relative;
}
.card-main:before, .card-main:after {
    background: #fff;
    border: 1px solid #ccc;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.card-main:before {
    top: 3.5px;
    transform: rotateZ(4deg);
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    z-index: -1;
}
.card-main:after {
    top: 5px;
    transform: rotateZ(-2deg);
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
    z-index: -2;
}
.card-main .card-form input {
    text-align: center;
}
.card-main .card-logo {
    text-align: center;
}
.card-main .card-logo img.avatar {
    height: 100px;
    margin: 10px auto 30px;
    width: 100px;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url("../img/top.png") no-repeat;
}

@media print {
    .header, .footer {
        display: none;
    }
}
