{% if messages %}
    <article class="col-sm-12">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-{{ message.tags }}"></i>
                <strong>{{ message.tags|capfirst }}</strong> {{ message }}
            </div>
        {% endfor %}
    </article>
{% endif %}

<form id="form-talk" class="form-horizontal" method="post" action="{% url 'detail' article.id %}">
    {% csrf_token %}
    <fieldset>

        <input id="id_article" name="article" type="hidden">

        <div class="control-group {% if form.username.errors %}has-error{% endif %}">
            <label class="control-label" for="id_username">你的名称：</label>
            <div class="controls">
                <input id="id_username" name="username" type="text" value="{{ form.cleaned_data.username|default_if_none:"" }}" class="span3" minlength="3" maxlength="64" required>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <p class="has-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="control-group {% if form.email.errors %}has-error{% endif %}">
            <label class="control-label" for="id_email">你的邮箱：</label>
            <div class="controls">
                <input id="id_email" name="email" type="email" value="{{ form.cleaned_data.email|default_if_none:"" }}" class="span3" minlength="6" maxlength="64" required>
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="has-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="control-group {% if form.content.errors %}has-error{% endif %}">
            <label class="control-label" for="id_content">评论内容：</label>
            <div class="controls">
                <textarea id="id_content" name="content" rows="8" class="input-block-level" required>{{ form.cleaned_data.content|default_if_none:"" }}</textarea>
                {% if form.content.errors %}
                    {% for error in form.content.errors %}
                        <p class="has-error">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <div class="captcha span3" style="margin-left:0"></div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success input-large">提交评论</button>
                <span class="help-inline"></span>
            </div>
        </div>
    </fieldset>
</form>