<div class="pagination pagination-centered">
    <ul>
        {% if article_list.has_previous or article_list.has_next %}
            <li><a href="?page=1{% if search_for %}&search_for={{ search_for }}{% endif %}">首页</a></li>
        {% else %}
            <li class="disabled"><a href="javascript:;">首页</a></li>
        {% endif %}

        {% if article_list.has_previous %}
            <li><a href="?page={{ article_list.previous_page_number }}{% if search_for %}&search_for={{ search_for }}{% endif %}">上一页</a></li>
        {% else %}
            <li class="disabled"><a href="javascript:;">上一页</a></li>
        {% endif %}

        {% for page in pages %}
            {%  if page == current_page %}
                <li class="disabled"><a  href="javascript:;">{{ page }}</a></li>
            {% elif page == 0 %}
                <li class="disabled"><a  href="javascript:;">...</a></li>
            {% else %}
                <li><a href="?page={{ page }}{% if search_for %}&search_for={{ search_for }}{% endif %}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if article_list.has_next %}
            <li><a href="?page={{ article_list.next_page_number }}{% if search_for %}&search_for={{ search_for }}{% endif %}">下一页</a></li>
        {% else %}
            <li class="disabled"><a href="javascript:;">下一页</a></li>
        {% endif %}
    </ul>
</div>