certifi==2019.11.28
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.1.5
django-cors-headers==2.4.0
django-filter==2.1.0
django-redis==4.10.0
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
idna==2.8
itypes==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mysqlclient==1.4.2
PyJWT==1.7.1
pytz==2019.3
redis==2.10.6
requests==2.22.0
uritemplate==3.0.0
urllib3==1.25.7